@import './mixins.scss';
/* Variables */
//default
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$secondary: #868e96;
$light: #f8f9fa;
$tiffany: #4AB7BD;

//* Base color 素米蓝色风格配色
$blue: #4E88F3;
$red: #F7777F;
$yellow: #F9B653;
$green:#51CBA8;
$dark: #404247;
$dark2: #515154;
$dark-gray: #858B95;
$gray: #CED3D8;
$gray-light:#E7EAEF;
//$text-dark: #3E4042;

// Main color
$primary: $blue;
$success: $green;
$info: $dark-gray;
$warning: $yellow;
$danger: $red;
$border-color:$gray-light;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#737d86;
$subMenuActiveText:#f4f4f5;
$menuBg:#323234;
$menuText:#FFFFFF;
$menuActiveText: var(--primary); // Also see settings.sidebarTextTheme

//layout
$page-padding:20px;
$page-bg:#eff1f6;
$--scrollbar-color:#ACB8CC;

// Login page
$lightGray: #eee;
$darkGray:$page-bg;
$loginBg: #fff;
$loginCursorColor: $dark;

/*theme-colors*/
/* base scss*/
:root{
  /* color */
  --blue: #{$blue};
  --indigo: #{$indigo};
  --purple: #{$purple};
  --pink: #{$pink};
  --red: #{$red};
  --orange: #{$orange};
  --yellow: #{$yellow};
  --green: #{$green};
  --teal: #{$teal};
  --cyan: #{$cyan};
  --white: #{$white};
  --gray: #{$gray};
  --gray-light: #{$gray-light};
  --gray-dark: #{$dark-gray};
  --secondary: #{$secondary};
  --light: #{$light};
  --dark: #{$dark};
  --dark2: #{$dark2};

  /* media */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* padding */
  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 20px;
  --gap-xl: 24px;
  
  /* font-family */
  --font-family-sans-serif: "Montserrat","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-family-element: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
:root{
  @include colorGroup('--primary',$primary);
  @include colorGroup('--success',$success);
  @include colorGroup('--info',$info);
  @include colorGroup('--warning',$warning);
  @include colorGroup('--danger',$danger);

  /* width */
  $sideBarBg:#292e40;
  --sideBarWidth: #{$sideBarWidth};
  --closesideBarWidth: #{-$sideBarWidth};
  @include colorGroup('--sideBarBg',$sideBarBg);
  --menuBg: var(--primary);
  --menuText: #{$white};
  --menu-color:var(--gray);
  --menuActiveText: #{$pink}; 
  //--mainBG:#f9fcfe;
  --mainBG:#f7f7fc;
}
.themeDarkBlue{
  $sideBarBg:#0b2559;
  $primary:#2a41cb;
  --mainBG:#f6f8fc;
  --menu-color:var(--gray);
  $success:#34c38f;
  $danger:#f46a6a;
  $warning:#f1b44c;
  @include colorGroup('--primary',$primary);
  @include colorGroup('--sideBarBg',$sideBarBg);
  @include colorGroup('--success',$success);
  @include colorGroup('--danger',$danger);
  @include colorGroup('--warning',$warning);
}

.themeLight{
  $primary:#018786;
  --mainBG:#f9f6f4;
  --gray:var(--primary);
  --menu-color:var(--dark);
  $sideBarBg:#fff;
  @include colorGroup('--sideBarBg',$sideBarBg);

  @include colorGroup('--primary',$primary);
  .el-menu{
    position: relative;
    // &::after{
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 0.5px;
    //   background-color: #eee;
    // }
  }
}
@media only screen and (max-width: 768px){
  :root{
    /* padding:base-gap:3 */
  --gap-xs: 3px;
  --gap-s: 6px;
  --gap-m: 12px;
  --gap-l: 15px;
  --gap-xl: 18px;
  }
  
}

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  primary:$primary;
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
