// @import './variables.scss'; // Already imported in style-resources-loader
@import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './_variables.scss';
@import './element-variables.scss';
@import './element-transform.scss';
//@import './element-variables.scss';


/* base scss*/
:root{
  /* color */
  --blue: #{$blue};
  --indigo: #{$indigo};
  --purple: #{$purple};
  --pink: #{$pink};
  --red: #{$red};
  --orange: #{$orange};
  --yellow: #{$yellow};
  --green: #{$green};
  --teal: #{$teal};
  --cyan: #{$cyan};
  --white: #{$white};
  --gray: #{$gray};
  --gray-dark: #{$dark-gray};
  --secondary: #{$secondary};
  --light: #{$light};
  --dark: #{$dark};

  /* media */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* padding */
  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 20px;
  --padding-xl: 24px;
  
  /* font-family */
  --font-family-sans-serif: "Montserrat","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-family-element: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
:root{
  @include colorGroup('--primary',$primary);
  @include colorGroup('--success',$success);
  @include colorGroup('--info',$info);
  @include colorGroup('--warning',$warning);
  @include colorGroup('--danger',$danger);

  /* width */
  $sideBarBg:#292e40;
  --sideBarWidth: #{$sideBarWidth};
  --closesideBarWidth: #{-$sideBarWidth};
  @include colorGroup('--sideBarBg',$sideBarBg);
  --menuBg: var(--primary);
  --menuText: #{$white};
  --menu-color:var(--gray);
  --menuActiveText: #{$pink}; 
  //--mainBG:#f9fcfe;
  --mainBG:#f7f7fc;
}
.themeDarkBlue{
  $sideBarBg:#0b2559;
  --mainBG:#f6f8fc;
  --menu-color:var(--gray);
  $success:#34c38f;
  $danger:#f46a6a;
  $warning:#f1b44c;
  @include colorGroup('--sideBarBg',$sideBarBg);
  @include colorGroup('--success',$success);
  @include colorGroup('--danger',$danger);
  @include colorGroup('--warning',$warning);
}

.themeLight{
  $primary:#4b4ba3;
  --mainBG:#f9f6f4;
  --gray:var(--primary);
  --menu-color:var(--dark);
  $sideBarBg:#fff;
  @include colorGroup('--sideBarBg',$sideBarBg);

  @include colorGroup('--primary',$primary);
  .el-menu{
    position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #eee;
    }
  }
}

/* Global scss */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-element);
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
.clearfix {
  @include clearfix;
}

.page-router{
  padding: var(--padding-l);
}
.el-button--primary{
  @include buttonCreat(--primary,--primary)
}
//scrollbar style
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: #CED3D8;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  /* or add it to the track */
}

@media only screen and (max-width: 768px){

}