// @import './variables.scss'; // Already imported in style-resources-loader
@import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './_variables.scss';
@import './element-variables.scss';
@import './element-transform.scss';
//@import './element-variables.scss';

/* Global scss */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-element);
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
.clearfix {
  @include clearfix;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-router{
  padding: var(--gap-l);
}
//scrollbar style
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: #CED3D8;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  /* or add it to the track */
}

@media only screen and (max-width: 768px){

}